
<ion-header>
  <ion-toolbar>
    <ion-title>Mundo Verde</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div  style="height: 300px" id="map_canvas"></div>



  <ion-list>
    <ion-item>
      <ion-label>Alimentación</ion-label>
      <ion-toggle [(ngModel)]="alimentacion"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Construcción</ion-label>
      <ion-toggle [(ngModel)]="construccion"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Educación</ion-label>
      <ion-toggle [(ngModel)]="educacion"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Energías Limpoas</ion-label>
      <ion-toggle [(ngModel)]="energias"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Gestión de Residuos</ion-label>
      <ion-toggle [(ngModel)]="residuos"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Transportes</ion-label>
      <ion-toggle [(ngModel)]="transporte"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Turismo</ion-label>
      <ion-toggle [(ngModel)]="turismo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Vestimenta</ion-label>
      <ion-toggle [(ngModel)]="vestimenta"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
