<ion-header>
  <ion-toolbar>
    <ion-title>Gente Verde</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides>
      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-card-subtitle>Nuevo Restorant Vegano</ion-card-subtitle>
          <ion-card-title>Veggie</ion-card-title>
        </ion-card-header>

        <ion-card-content>
                  <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Frestoranvegano.jpeg?alt=media&token=e19ead20-8749-48d4-9052-4b7cc5128366'"></ion-img>
        <ion-label>Nuevo Restoran Vegano en Santiago, ven a conocerlo!!</ion-label>

        <ion-item lines="none">
                  <ion-chip color="primary" slot="start" >
          <ion-icon name="logo-twitter" ></ion-icon>
        </ion-chip>
        <ion-chip color="primary" slot="start" >
        <ion-icon name="logo-facebook" ></ion-icon>
        </ion-chip>
        <ion-chip color="primary" slot="start" >
        <ion-icon name="logo-instagram" ></ion-icon>
        </ion-chip>
        </ion-item>
        </ion-card-content>
          </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <ion-card-header>
          <ion-card-subtitle>Nuevo Puesto de Reciclaje en San Miguel</ion-card-subtitle>
          <ion-card-title>Gente Verde</ion-card-title>
        </ion-card-header>

        <ion-card-content>
                  <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Freciclaje.jpeg?alt=media&token=ebca2611-ceb2-4325-84e1-f0fc9b1c4ebf'"></ion-img>
        <ion-label>Ven a conocer y utilizar el nuevo punto de reciclaje, ubicado frente a Municipalidad de San Miguel </ion-label>

<ion-item lines="none">
          <ion-chip color="primary" slot="start" >
  <ion-icon name="logo-twitter" ></ion-icon>
</ion-chip>
<ion-chip color="primary" slot="start" >
<ion-icon name="logo-facebook" ></ion-icon>
</ion-chip>
<ion-chip color="primary" slot="start" >
<ion-icon name="logo-instagram" ></ion-icon>
</ion-chip>
</ion-item>
        </ion-card-content>
          </ion-card>
      </ion-slide>

  </ion-slides>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>contacto@genteverde.cl</ion-title>
  </ion-toolbar>
</ion-footer>
