<ion-header>
  <ion-toolbar>
    <ion-title>Gente Verde</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>

  <ion-list>

      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Frestoranvegano.jpeg?alt=media&token=e19ead20-8749-48d4-9052-4b7cc5128366'"></ion-img>

          </ion-avatar>
       <ion-label>Juan Perez</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Frestoranvegano.jpeg?alt=media&token=e19ead20-8749-48d4-9052-4b7cc5128366'"></ion-img>

          </ion-avatar>
       <ion-label>Juan Perez</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Frestoranvegano.jpeg?alt=media&token=e19ead20-8749-48d4-9052-4b7cc5128366'"></ion-img>

          </ion-avatar>
       <ion-label>Juan Perez</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'https://firebasestorage.googleapis.com/v0/b/fresh-2637d.appspot.com/o/gente%2Frestoranvegano.jpeg?alt=media&token=e19ead20-8749-48d4-9052-4b7cc5128366'"></ion-img>

          </ion-avatar>
       <ion-label>Juan Perez</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
  </ion-list>

</ion-content>
