<ion-header>
  <ion-toolbar>
    <ion-title>Gente Verde</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar></ion-searchbar>

  <ion-list>

      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'./assets/profile/perfil1.jpeg'"></ion-img>

          </ion-avatar>
       <ion-label>Juan Verde</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'./assets/profile/perfil2.jpeg'"></ion-img>

          </ion-avatar>
       <ion-label>Javier Ecologico</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'./assets/profile/profile6.png'"></ion-img>

          </ion-avatar>
       <ion-label>Antonia Flores</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
      <ion-item >
                      <ion-avatar slot="start">
                        <ion-img [src]="'./assets/profile/profile4.png'"></ion-img>

          </ion-avatar>
       <ion-label>Pedro Torres</ion-label>
  <ion-icon name="arrow-dropright"></ion-icon>

      </ion-item>
  </ion-list>

</ion-content>
